{% extends "base.html" %}
{% block content %}
    <form method = "POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label(class = "data_label")}}
            {{ form.email(class = "data_input")}}
        </div>
        <div>
            {{ form.password.label(class = "data_label")}}
            {{ form.password(class = "data_input")}}
        </div>
        <div>
            {{ form.remember.label(class = "data_label")}}
            {{ form.remember(class = "data_input")}}
        </div>
        <div>
            {{ form.submit(class = "data_input")}}
        </div>
    </form>
{% endblock %}
