{% extends "base.html" %}
{% block content %}
    <form method = "POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label(class = "data_label")}}
            {{ form.username(class = "data_input")}}
            {% if form.username.errors %}
                <div class="error">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.email.label(class = "data_label")}}
            {{ form.email(class = "data_input")}}
            {% if form.email.errors %}
                <div class="error">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.password.label(class = "data_label")}}
            {{ form.password(class = "data_input")}}
            {% if form.password.errors %}
                <div class="error">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.confirm_password.label(class = "data_label")}}
            {{ form.confirm_password(class = "data_input")}}
            {% if form.confirm_password.errors %}
                <div class="error">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div>
            {{ form.submit(class = "data_input")}}
        </div>
        
    </form>
{% endblock %}